{% extends "layout.html"%}
{% block body %}

    <form action="/checkLogin" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" placeholder="Username" required>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" placeholder="Password" required>
        <input type="submit" value="Submit">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </form>

{% endblock %}
