<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav th:fragment="button-edit-pet (pet)">
        <button type="button" class="btn btn-secondary me-1" th:data-bs-toggle="'modal'"
            th:data-bs-target="'#editPetModalCenter' + ${pet.getPetId()}">Edit Pet
        </button>

        <!--EDIT PET MODAL-->
        <div class="modal fade" th:id="'editPetModalCenter'+ ${pet.getPetId()}" tabindex="-1" role="dialog"
            aria-labelledby="'editPetModalCenterTitle'+ ${pet.getPetId()}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="'editPetModalLongTitle' + ${pet.getPetId()}">Edit Pet Information
                        </h5>
                    </div>
                    <!--EDIT PET FORM-->
                    <form th:action="@{'/records/update/pet/' + ${pet.getPetId()}}" th:object="${pet}"
                        th:method="patch">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" th:id="inputName" th:value="${pet.getName}"
                                    field="*{name}" name="name" aria-describedby="nameHelp" placeholder="Enter name"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="inputSpecies">Species</label>
                                <input type="text" class="form-control" th:id="inputSpecies"
                                    th:value="${pet.getSpecies}" field="*{species}" name="species"
                                    placeholder="Enter Species" required>
                            </div>
                            <div class="form-group">
                                <label for="inputGender">Gender</label>
                                <input type="text" class="form-control" th:id="inputGender" th:value="${pet.getGender}"
                                    field="*{gender}" name="gender" placeholder="Enter Gender" required>
                            </div>
                            <div class="form-group">
                                <label for="inputAge">Age</label>
                                <input type="number" class="form-control" th:id="inputAge" th:value="${pet.getAge}"
                                    field="*{age}" name="age" placeholder="Enter Age" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" th:data-bs-dismiss="'modal'">Close</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>