<!DOCTYPE html>
<head>
<style>
    h1 {
        display:flex;
        justify-content: center;
    }
    .container {
            grid-template-columns:repeat(8, 1fr);
            /* grid-template-rows:repeat(8, 1fr); */
        }
</style>
</head>
<body>
    {% extends "base.html" %}

    {% block highlight %}
    <div class="navbar-container">
    <li><a href='/'>Home</a></li>
    <a href=''><li style='color:rgba(0, 255, 0, 0.884);'>Job Listings</li></a>
    <li><a href='/post_job.html'>Post a job ad</a></li>
    </div>
    {% endblock %}

    {% block body %}
    <br><h1>Here are the all the job listings:</h1>
    <div class="container">
        <table>
            <tr style="height:25px;">
                <th style="width:150px;">Title</th>
                <th style="width:50px;">Company</th>
                <th style="width:50px;">Category</th>
                <th style="width:50px;">Full Listing</th>
            </tr>
            {{ tdata }} 
        </table>
    </div>
    {% endblock %}
</body>