<!DOCTYPE html>
<head>
<style>
    .formst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    gap:10px;
    align-items:center;
    margin-top: 30px;
}
    .formst * {
        vertical-align: middle;
    }
    button {
        padding: 15px 30px;
    }
</style>
</head>
<body>
    {% extends "base.html" %}
    {% block highlight %}
    <div class="navbar-container">
    
    <li><a href='/'>Home</a></li>
    
    <li><a href=' {{ url_for("listings") }}'>Job Listings</a></li>
    <a href=''><li style='color:rgba(0, 255, 0, 0.884);'>Post a job ad</li></a>
    </div>
    {% endblock %}

    {% block body %}
    
    {% for message in get_flashed_messages() %}
    <h3>{{ message }}</h3>
    {% endfor %}

    <form action="/post_job.html" method="POST" style="width:100%;" class="formst">
        <label>Job Title
        <input type="text" class="form-control" name="title" value="{{ title }}" required></label>
        <br>
        <label>Company
        <input type="text" class="form-control" name="company" value="{{ company }}" required></label>
        <br>
        <label for="ind">Web Index
        <input type="number" class="form-control" name="wid" value="{{ wid }}" required></label>
        <br>
        <label>Job Description
            <textarea cols="30" rows="15" class="form-control" name="description" value="" required>{{ description }}</textarea></label>
            <br>

        <button type="submit" style="padding:5px;" name="submit" value="Classify">Auto-Classify</button>
        <label for="ind">Category
            <input type="text" class="form-control" name="category" value="{{ category }}"></label>
            <br>
        <button type="submit" name="submit" value="Submit">Post Job</button>
      </form>
    {% endblock %}

</body>