<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Reset Password</title>
</head>

<body>
    <div layout:fragment="content">
        <div
            class="container py-5 row d-flex justify-content-center align-items-center h-100 col card card-registration my-4 g-0 col-xl-12 card-body p-md-5 text-black">
            <h3 class="mb-3">Reset Password</h3>
            <span id="errorMessage" class="text-danger" th:text="${errorMessage}">Error</span>
            <form method="post">
                <div class="form-outline mb-2">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control form-control-lg" />
                </div>
                <div class="row">
                    <div class="form-outline mb-2"></div>
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control form-control-lg" />
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-outline">
                        <label class="form-label" for="password">New Password</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-outline">
                        <label class="form-label" for="confirmPassword">Confirm
                            New Password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            class="form-control form-control-lg" />
                    </div>
                </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-lg ms-2">Reset Password</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    </div>
</body>

</html>