body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    /* background-image: url('../images/steve-johnson-BgDoX0zk4zw-unsplash.jpg');
    background-size: cover; */
    /* background-image: radial-gradient(#ff8a00, #e52e71);
    background-image: radial-gradient(circle at top right, #ff0000, rgb(255, 255, 255), #ff0000); */
    /* background-image: radial-gradient(circle at top right, #ffffff, rgba(0, 0, 0, 0.163), #ffffff); */
    /* background-image: linear-gradient(180, rgba(20, 20, 20, 0.111), rgb(255, 255, 255)); */
    /* background-image: linear-gradient(rgba(20, 20, 20, 0), rgb(255, 255, 255)); */
    padding-bottom: 40px;
    padding-right: 0px;
    margin-right: 0px;
    /* display: block; */
}

h1#logo {
    position: relative;
    top: 30px;
    left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    padding-right: 0px;
    margin-right: 0px;
}

.navbar li {
    position: relative;
    /* Sets the first element of the list to */
    left: 330px;
    /* this location */
    bottom: 20px;
    float: left;
    /* The rest of the elements are floated to the left of this */
    box-sizing: content-box;
    list-style-type: none;
    /* Removes the bullets from the list*/
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 0px;
    margin-right: 0px;
}

.subheading {
    /* Sub Title*/
    position: relative;
    left: 80px;
    clear: left;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 40px;
    top: 50px;
}

.facts li {
    font-size: medium;
    list-style-type: none;
    /* Removes the bullets from the list*/
    padding: 50px;
    margin-top: 0px;
    width: 500px;
    margin-right: 0px;
    color: purple;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.207);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

img.background {
    position: absolute;
    left: 500px;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    object-fit: cover;
    z-index: -5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.207);
}

table {
    position: relative;
    left: 50px;
    clear: both;
    border-collapse: collapse;
    width: 500px;
    border: 1px solid;
    border-color: #d3d3d3e3;
    padding-right: 0px;
    margin-right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

td {
    border: 1px solid;
    border-color: #d3d3d3e3;
    font-size: small;
    font-size: x-small;
}

th {
    font-size: x-small;
}

.TableFixHead {
    clear: both;
    overflow-y: auto;
    box-sizing: border-box;
    height: 350px;
    will-change: transform;
    /* box-shadow: inset 1px -1px #000; */
}


/* .TableFixHead td {
    box-shadow: inset 1px -1px #000;
} */


/*
div.every {
    border: 3px solid #000000e3;
    background-color: rgba(0, 0, 255, 0.529);
    float: right;
    position: absolute;
    right: 30px;
    margin-left: 0px;
    padding-left: 300px;
    padding-bottom: 400px;
}
 */

select {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(0, 255, 0);
}

a:link {
    text-decoration-line: none;
}